<% include partials/header %>
<link rel="stylesheet" type="text/css" href="/css/myaccount.css">

	<div class="container">

		<div class="jumbotron _textCenter">
			<h3>MY ACCOUNT</h3>
		</div>

		<% if(currentUser.isActivated!='false'){ %>
			
		<%}else{%>
			<form class="_form" action="/sendActivation" method="POST">
				<button type="submit" class="btn btn-outline-primary">Send activation code</button>
			</form>
		<%}%>

		<div class="_form">

			<hr>
			<div>
				<a href="/userpage/<%= currentUser._id %>/ds" style="width: 240px;" class="btn btn-primary btn-lg _floatedL" >
				  Request <span class="badge badge-light"><%= thisUser.demandPosts.length%></span>
				  <span class="sr-only">unread messages</span>
				</a>

				<a href="/userpage/<%= currentUser._id %>/ss" id="_myaccountListingButton" class="btn btn-primary btn-lg _floatedR" >
				  Listing <span class="badge badge-light"><%= thisUser.supplyPosts.length%></span>
				  <span class="sr-only">unread messages</span>
				</a>
			</div>
			<div class="_clearFloat"></div>

			<hr>
			<button type="button" class="btn btn-outline-secondary">Edit(testing)</button>
			
			<% if(!currentUser.displayName){ %>
				<div class="_note">
					No display setup yet, change
					<a href="">here</a>
				</div>
			<% }else{ %>
				<div>
					<label>Display name: </label>
					<h4><%= currentUser.displayName%></h4>
				</div>
			<% } %>

			<hr>
			<label>My registered Email: </label>
			<h4><%= currentUser.username %></h4>

			<hr>
			<label>My promocode</label>
			<!-- The text field -->
			<input readonly type="text" value="<%= currentUser.username+'2018'%>" id="myInput">

			<!-- The button used to copy the text -->
			<button id="promocodeCopyButton" onclick="myFunction()" data-toggle="tooltip" title="click to copy">copy</button>

			<script type="text/javascript">
				function myFunction() {
			  /* Get the text field */
			  var copyText = document.getElementById("myInput");

			  /* Select the text field */
			  copyText.select();

			  /* Copy the text inside the text field */
			  document.execCommand("Copy");

			  /* Alert the copied text */
			  // alert("Copied the text: " + copyText.value);
			  document.querySelector('#promocodeCopyButton').innerHTML = "copied";
			}
			</script>

			<label>I have refered <span style="color: red;"><%= thisUser.timeReferred%></span> people</label>
		</div>

	</div>
	
	
<% include partials/footer %>