<% include ../partials/header %>

<div class="container">
	<% thisUser.demandPosts.forEach(function(demand){ %>

		<div class="card" style="width: 18rem;">
			<div class="_cardImgBox">
				<!-- <img class="card-img-top _cardImgBoxImg" src="/img/logo2.png" alt="Do you know the way2"> -->
			</div>
		  <div class="card-body">
		    <h5 class="card-title"><span style="color: #00aae7;"><%= demand.unit%></span> units demand</h5>
		    <p class="card-text"><%= demand.college%></p>
		    
		    <p style="font-size: 0.7em;" class="card-text"><%= demand.starting%> -> <%= demand.ending%></p>
        <form action="/payment/demand/<%= demand._id%>" method="post">
          <button type="submit">uzePay</button>
        </form>

		  </div>
		</div>

	<% }); %>
  <br>
</div>

<% include ../partials/footer %>