<% include ../partials/header %>
<link rel="stylesheet" type="text/css" href="/css/myaccount.css">

<div class="container">

	<h1 class="_textCenter jumbotron">MY REQUESTS</h1>

	<div class="_cardComplex">
		<p class="_note" style="font-style: italic;">"One uze unit refers to a 76cm/30&#34;(Height) * 48cm/19&#34;(Width) * 29cm/11&#34;(Depth) sized travel case"  —— A uzespace cofounder</p>

		<% thisUser.demandPosts.forEach(function(demand){ %>

			<div class="card _floatedL" style="width: 288px; margin-left: 6px; margin-right: 6px;">
				<div class="_cardImgBox" style="padding-top: 20px;">
					<p style="font-size: 2em; color: #5fb6e6; text-align: left; margin: 0px;" ><%= demand.starting%></p>
					<p class="_textCenter" style="margin: 0px;">to</p>
					<p style="font-size: 2em; color: #5fb6e6; text-align: right; margin: 0px;" ><%= demand.ending%></p>
				</div>
			  <div class="card-body">
			    <h5 class="card-title"><span style="color: #00aae7;"><%= demand.unit%></span> units demand</h5>
			     <p class="card-text"><%= demand.college%> </p>
			    
			    <% if(!demand.matched){ %>
			    	<p style="color: orange;">Not matched yet</p>
			    	
		    	<% }else if(!demand.d_payedReserve){ %>
		    		<p style="color: blue;">Matched! not reserved</p>
			    	<form action="/payment/demand/<%= demand._id%>" method="post" style="width: 80%;">
		          <button class="_reserveSpaceButton" type="submit">Reserve the space</button>
		          <label class="_note" data-toggle="tooltip" title="We recommend you pay the reserve fee after confirmation, because reserve fees are not refundable">&#8505;</label>
		        </form>
			    <% }else{ %>
			    	<p style="color: blue;">Reserved </p>
			    <% } %>
			    
	        

	        <% if(!demand.matched){ %>
			    	
		    	<% }else if(!demand.d_payedReserve){ %>
		    		
			    <% }else{ %>

			    <% } %>

	        <form class="_deleteform" onsubmit="return confirm('Do you really want DELETE this storage request?');" action="/userpage/<%= demand._id %>/delete?_method=DELETE" method="POST">
						<button type="submit"  class="oi oi-trash" style="
							background:none!important;
	    				border:none; 
	    				padding:0!important;">
							<!-- <span class="oi oi-trash"></span> -->
						</button>
					</form>
			  </div>
			</div>

		<% }); %>
	</div>

	

	<% if(thisUser.demandPosts.length===0){%>
		<div class="_textCenter">
			<h3>Sorry you dont have any storage request uploaded yet. </h3>
			<h3>You can start creating one <a href="/demand">here</a></h3>
		</div>
	<%}%>

	<div class="_clearFloat"></div>
  <br>
</div>

<% include ../partials/footer %>